<p id="notice"><%= notice %></p>

<p>
  <strong>Site name:</strong>
  <%= @system_setting.site_name %>
</p>

<p>
  <strong>Page cache time:</strong>
  <%= @system_setting.page_cache_time %>
</p>

<%= link_to 'Edit', edit_system_setting_path(@system_setting) %> |
<%= link_to 'Back', system_settings_path %>
