<%= form_for(@item) do |f| %>
  请选择 所属的分类：
  <%= f.collection_select :landing_picture_id , LandingPicture.all, :id, :name %>
  <div class="field">
    <%= f.label :logo %><br>
    <% if @item.logo.present? %>
    当前图片:
    <%= image_tag @item.logo.url, :style => 'height: 200px' %>
    <% else %>
    当前无图片
    <% end %>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    标题：
    <%= f.text_field :title %>
  </div>
  <div class="field">
    正文：
    <%= f.text_area :introduction %>
  </div>
  <div class="actions">
    <%= f.submit '确定'%>
  </div>
<% end %>
