<%= form_for(@item) do |f| %>
<table class='table table-hover table-striped'>
  <tr>
    <td style='width: 200px'>
      请选择 所属的分类：
    </td>
    <td>
      <%= f.collection_select :landing_picture_id , LandingPicture.all, :id, :name %>
    </td>
  </tr>
  <tr>
    <td>LOGO(会显示在作品列表中)</td>
    <td>
    <% if @item.logo.present? %>
    当前LOGO: (建议： 宽，高都是130px） <br/>
    <%= image_tag @item.logo.url, :style => 'height: 200px' %>
    <% else %>
    当前无LOGO
    <% end %>
    <%= f.file_field :logo %>
    </td>
  </tr>
  <tr>
    <td>标题(会显示在作品列表中) </td>
    <td> <%= f.text_field :title, :class => 'form-control' ,placeholder: '例如: 《北京，是一座希望之城》'%>  </td>
  </tr>
  <tr>
    <td>简介(会显示在作品列表中) </td>
    <td><%= f.text_field :brief_introduction, :class => 'form-control' ,placeholder: '例如:
    雕爷牛腩的雕爷，开门招徒，4300个人中选了70个，给了个考题：给老雕寄一个包裹来表达用户体验，内容不限~'%>  </td>
  </tr>

  <tr>
    <td colspan=2>
      正文：<br/>
      友情提示:(如果发现在手机上的显示内容与在电脑上不一致时)<br/>
      1. 确保正文的源代码中不要有&lt;pre> 标签<br/>
      2. 不要直接从其他网页复制内容,然后粘贴到下面. 要先把内容从源目标网站中复制,然后粘贴到一个纯文本编辑器(txt, 记事本)中,然后
      再粘贴到这里.再编辑它的换行等样式.<br/>
      3. 如果想输入华丽丽的分隔符, 请点击一下目标位置,然后点击"插入水平线"
      <span class="cke_button_icon "
      style="float:none;background-image:url(/assets/ckeditor/plugins/icons.png?t=E5OD);background-position:0 -888px;background-size:auto;">&nbsp;</span>
      这个图标.<br/>
      如果还有问题,请直接联系 : 技术同学( 135 2222 3382 思维)
      <%= f.cktext_area :introduction%>
    </td>
  </tr>
  <tr>
    <td>本页的CSS样式（高级特性, 一般情况下不用动) </td>
    <td>
      <%= f.text_area :css_style, style: "width: 100%; height: 131px;", :class => 'form-control',
        placeholder: '例如： body { background-color: pink }' %>
  </td>
  </tr>
  <tr>
    <td colspan=2 style='text-align:center'>
      <%= f.submit '确定', class: 'btn btn-primary'%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to '返回', "/items/admin_index", class: 'btn btn-default' %>
    </td>
  </tr>
</table>
<% end %>
<br/>
<br/>
