<p id="notice"><%= notice %></p>

<p>
  当前图片: <%= image_tag @item.logo.url, :style => 'height: 200px' %><br/>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @item.introduction %>
</p>

<%= link_to '编辑', edit_item_path(@item) %> |
<%= link_to '返回', items_path %>
<%= link_to '查看手机端效果', @item %>

