<style>
.item_logo {
  background-position: center center;
  background-size: cover;
}
</style>
<table class='table table-hover table-striped' style='width:100%'>
  <tbody>
    <% @items.each do |item| %>
      <tr style='height: 15%; border: 2px solid #5bb7dc;' >
        <td style='width: 20%; height: ; padding: 2%;
          background-image:  url("<%= item.try(:logo).try(:url) %>")'
          onclick='location.href="/items/<%=item.id%>"'
          class='item_logo'
          >
        <td onclick='location.href="/items/<%=item.id%>"'
          style='padding: 1%'
          >
          <div style='font-size: 18px; font-weight: bold; line-height: 24px; height: 30px'>
            <%= truncate item.title, :length => 18 %></div>
          <div style='color:#908e8f; height: ; font-size: 16px'>
            <%= truncate(ActionView::Base.full_sanitizer.sanitize(item.brief_introduction),
            :length => 40, :omission => '..>>') %></div>
        </td>
        <td style='text-align:center; width: 16%; '>
          <% if item.not_thumbed_up_by_current_ip request.remote_ip, item.id %>
            <%= link_to image_tag('thumbup.jpg', style: 'width: 60%'), "/scores?item_id=#{item.id}", method: 'post' %>
            <div style='font-size: 18px'>
              <%= item.scores.count %> 票
            </div>
          <% else %>
            <%= image_tag('thumbup.jpg', style: 'width: 60%') %>
            <div style='font-size: 18px'>
              <%= item.scores.count %> 票(已投)
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan=3>
          <hr style='border-color: #58b9e3; border-width: 0 0 2px 0'/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
