<style>
<%=  @item.css_style %>
</style>
<div style='width: 100%; padding: 20px 0 0 0 ; '>
  <div class='title' style='float:left; font-size: 26px; line-height: 30px'>
    <%= @item.title %>
  </div>
  <div class='introduction' style='float:left; font-size: 20px; line-height: 30px; clear: left;
    margin: 0 0 0 5px'>
    <%= raw @item.introduction %>
  </div>

  <div style='clear:both'></div>
  <div style='margin: 0 auto; width: 20%; text-align:center; margin-top: 20px'>
    <% if @item.not_thumbed_up_by_current_ip request.remote_ip, @item.id %>
      <%= link_to image_tag('thumbup.jpg'), "/scores?item_id=#{@item.id}", method: 'post' %>
      <div style='font-size: 20px'><%= @item.scores.count %> </div>
    <% else %>
      <%= image_tag('thumbup.jpg') %>
      <div style='font-size: 20px'><%= @item.scores.count %>(已赞) </div>
    <% end %>
  </div>

  <div style='width: 100%; color: #696969; background-color: #f1f1f1; margin-top: 50px'>
    <div style='float: right; font-size: 20px'>
    <% if @item.comments.count > 0 %>
      <p>已有<span style='color: #c83929'><%= @item.comments.count %></span>条评论</p>
    <% else %>
      <p>其他人还没评论，赶紧抢沙发！</p>
    <% end %>
    </div>
    <div style='clear:both'></div>
    <%= render 'comments/form' %>
    <div style='margin: 0 auto; font-size: 20px; width: 300px; text-align:center'>
      <span style='font-size: 50px; line-height: 30px;color: #b3b4b8'>&#9660;</span><br/>
    最新评论
    </div>

    <table style='font-size:20px; width: 100%'>
    <% @item.comments.order('created_at desc').limit(20).each do |comment|%>
      <tr >
        <td colspan=3><hr style='color:#cac8c9; border: 1px 0 0 0'/></td>
      </tr>
      <tr>
        <td style='width:;word-break:break-all;'><%= comment.body %></td>
        <td style='width:15%'>某网友</td>
        <td style='width:15%'><%= comment.created_at.strftime('%m-%d') %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
