<h1>Listing user_account_records</h1>

<table>
  <thead>
    <tr>
      <th>Voucher code</th>
      <th>Cost</th>
      <th>Account</th>
      <th>Result</th>
      <th>Raw log</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_account_records.each do |user_account_record| %>
      <tr>
        <td><%= user_account_record.voucher_code %></td>
        <td><%= user_account_record.cost %></td>
        <td><%= user_account_record.account %></td>
        <td><%= user_account_record.result %></td>
        <td><%= user_account_record.raw_log %></td>
        <td><%= link_to 'Show', user_account_record %></td>
        <td><%= link_to 'Edit', edit_user_account_record_path(user_account_record) %></td>
        <td><%= link_to 'Destroy', user_account_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User account record', new_user_account_record_path %>
