  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Responsive Nav &middot; Advanced Left Navigation Demo</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
      <!--[if lte IE 8]><link rel="stylesheet" href="../../responsive-nav.css"><![endif]-->
    </head>
    <body>

        <div role="navigation" id="foo" class="nav-collapse">
          <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>

            <div role="main" class="main">
              <a href="#nav" class="nav-toggle">Menu</a>
              <h1>Prototype</h1>
        </div>

     <script>
       var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
     </script>
    <%= yield %>
  </body>

  <footer>
    <p> <%= SystemSetting.first.site_name %>&copy; <%= SystemSetting.first.current_time %></p>
  </footer>
   </html>
